{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Ajouter Categorie</h1>
    {{ form_start(form) }}
{{ form_row(form.titre, {'label': 'titre','attr': {'placeholder': 'titre','class': 'form-control'}}) }}
    
<br><br>
    <a href="{{ path('category_index') }}" class="btn btn-primary">Retour</a>
      <button class="btn btn-success" type="submit">Ajouter</button>
      {{ form_end(form) }}
{% endblock %}
