{% extends 'baseClient.html.twig' %}


{% block body %}
    <h1>connection</h1>

    <form action="{{ path('security_login') }}" method="post">
    <div class="form-group">
 <input type="text" class="form-control" placeholder=" Votre Email" required name="_username">
    </div>
    <div class="form-group">
 <input type="password" class="form-control" placeholder=" Votre Mot de Passe " required name="_password">
    </div>
    <div class="form-group">
<button type="submit" class="btn btn-primary">Connection !</button>
<br><br>
<h5> vous n'avez pas compte ! <a href="{{ path('clt_new') }}" >S'inscrire </a></h5>
    </div>
    </form>
    {% endblock %}
